# 2-Week Covid Testing by Zip Code

In [16]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 100)

In [17]:
df = pd.read_csv('COVID-19_Cases__Tests__and_Deaths_by_ZIP_Code.csv')

In [18]:
# Removing zip codes that are not in chicago
df = df[(df['ZIP Code']!= 'Unknown')]

In [19]:
# Confining the data to just the last 2 weeks
df = df[(df['Week Number']==42)|(df['Week Number']==43)]

In [20]:
# Calculate extracting the toal number of tests administered by zip code to later calculate the percentage of 
# population tested in the 2 week period
testing_df = pd.DataFrame(df.groupby(['ZIP Code'])['Tests - Weekly'].sum()).reset_index()

In [21]:
# Rename columns
testing_df.columns = ['ZCTA', 'tests2weeks']

In [23]:
testing_df

     ZCTA  tests2weeks
0   60601       1276.0
1   60602         83.0
2   60603         67.0
3   60604         75.0
4   60605       1792.0
5   60606        337.0
6   60607       2585.0
7   60608       4322.0
8   60609       3088.0
9   60610       2923.0
10  60611       2716.0
11  60612       2457.0
12  60613       3896.0
13  60614       5892.0
14  60615       4000.0
15  60616       3116.0
16  60617       3286.0
17  60618       5481.0
18  60619       2348.0
19  60620       2891.0
20  60621        993.0
21  60622       4575.0
22  60623       3484.0
23  60624       1336.0
24  60625       4743.0
25  60626       4262.0
26  60628       2399.0
27  60629       5230.0
28  60630       2894.0
29  60631       2089.0
30  60632       3980.0
31  60633        664.0
32  60634       4187.0
33  60636       1132.0
34  60637       8594.0
35  60638       2702.0
36  60639       4305.0
37  60640       4966.0
38  60641       4210.0
39  60642       1605.0
40  60643       3075.0
41  60644       2077.0
42  60645       3077.0
43  60646       1543.0
44  60647       6886.0
45  60649       1949.0
46  60651       2762.0
47  60652       2135.0
48  60653       1750.0
49  60654       1517.0
50  60655       1782.0
51  60656       1410.0
52  60657       4946.0
53  60659       1737.0
54  60660       2315.0
55  60661        753.0
56  60666          0.0
57  60707          0.0
58  60827          0.0

In [22]:
# Pickle df to merge into larger census df
import pickle
pickle_out = open('tests2weeks.pickle', 'wb')
pickle.dump(testing_df, pickle_out)
pickle_out.close()